USE [master]
GO
/****** Object:  Database [bdCIinmobiliaria]    Script Date: 09/06/2024 15:28:41 ******/
CREATE DATABASE [bdCIinmobiliaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdCIinmobiliaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\bdCIinmobiliaria.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdCIinmobiliaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\bdCIinmobiliaria_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdCIinmobiliaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdCIinmobiliaria]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 09/06/2024 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [nombres], [apellidos]) VALUES (2, N'Alex', N'Acosta')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
USE [master]
GO
